/*--------------------------------------------------------------
# Item Article
--------------------------------------------------------------*/
article.item-article {
  position: relative;
  margin-bottom: 60px;

  .content-article {
    width: 100%;
    padding: 30px 20px;
    background: transparent;
    text-align: left;

    .image-article {
      width: 100%;
      max-height: 170px;
      margin-bottom: 30px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .info-article {
      position: relative;
    }

    h3.title-article {
      font-size: 20px;
      margin-bottom: 15px;

      a {
        color: #444444;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #278884;
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .desc-article {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    span.publisher-article {
      position: absolute;
      background: #ffc107;
      color: #fff;
      width: auto;
      text-align: center;
      top: -40px;
      left: -15px;
      font-size: 12px;
      font-weight: 700;
      padding: 0 10px;
      text-transform: uppercase;
    }
  }
}