/*--------------------------------------------------------------
# Header Title
--------------------------------------------------------------*/
#header-title {
  width: 100%;
  position: relative;
  padding: 120px 0 0 0;
  margin-bottom: 90px;
  &:before {
    content: "";
    background: rgba(23, 150, 144, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
  }
  .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
    &:hover {
      background: #17b57d;
    }
  }
  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
}

.animation_header-title {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 {
  use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
}

.wave2 {
  use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
}

.wave3 {
  use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
}

@media (min-width: 1024px) {
  #header-title {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #header-title {
    padding-top: 80px;
    .animated {
      -webkit-animation: none;
      animation: none;
    }
    .hero-img {
      text-align: center;
      img {
        max-width: 50%;
      }
    }
    h1 {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 575px) {
  #header-title {
    .hero-img {
      img {
        width: 80%;
      }
    }
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}