/* COLOR BASE */
$color-principal: #00CF9A;
$color-secondary: #16614E;
$color-register: #00d197;

/* COLORS APP */
$color-principal-orange: #FEB353;
$color-principal-blue: #6AE1F9;
$color-principal-green: #00CF9A;
$color-principal-grey: #CCC;
$color-black: #202020;

/* COLORS DEFAULT */
$color-text: #202030;
$color-title: #202020;
$color-border-list: #eaeaea;
$color-warning: #d15353;

/* COLORS BUTTONS */
$button-color: #fff;
$button-active: #202020;
$button-action: #00CF9A;