/*----------------- # APP -----------------*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, rgba(32, 32, 32, 1) 0%, rgba(32, 32, 32, 1) 100%);
}

#app {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  position:relative;
  margin: 0;
  padding: 0;

  .wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 767px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
  }

  .view-app {
    position: relative;
    min-height: 100vh;
  }

  .overlay-app{
    background: rgba(32, 32, 32, 1);
    animation: 2s ease-in-out 0s 1 animationOverlayApp forwards;
    animation-delay: 0.5s;
  }

  .v-wrapper {
    max-width: 767px;
  }

  .focus-element {
    outline: 0;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      box-shadow: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  a.btn_noticia-portada {
    background: transparent;
    padding: 15px 20px;
    display: inline-flex;
    margin: 0 20px 20px 0;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &.principal {
      background-color: #ffc107;
      border-color: #ffc107;
      color: #4c4c4c;
    }

    &:hover {
      background-color: #2ea09b;
      border-color: #2ea09b;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }

    @media (max-width: 767px) {
      font-size: 15px;
    }
  }

  .line-bottom {
    position: relative;
    margin-bottom: 50px;

    &:after{
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translate(-50%, 0);
      background-size: auto 100%;
      background-repeat: no-repeat;
      height: 7.5px;
      width: 68px;
    }
  }

  &.Home {
    header#header {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .mensaje-mobile {
    display: none !important;
    position: absolute;
    bottom: 0;
    background: #ffc107;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding: 5px;

    @media (max-width: 767px) {
      display: block !important;
    }
  }

  @keyframes animationOverlayApp {
    0% {
      backdrop-filter: blur(0px);
      background: rgba(32, 32, 32, 1);
    }
    80% {
      backdrop-filter: blur(1px);
      background: rgba(32, 32, 32, .4);
    }
    100% {
      backdrop-filter: blur(4px);
      background: rgba(32, 32, 32, .5);
    }
  }
}