body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #202020;

  #app {
    font-family: "Open Sans", sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    .title {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }

    h1 {
      color: #fff;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      letter-spacing: 6px;
      text-transform: uppercase;

      @media (max-width: 600px) {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    h2 {
      color: rgba(255, 255, 255, 0.8);
      font-size: 24px;
      font-weight: 300;
    }
  }
}
