#home {
  margin: 0;
  background: url('~@/assets/images/principal-min.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}